/* CONTENIDO GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500;600&display=swap');
*{font-family: 'Baloo Paaji 2', cursive;}

body{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

header.header{
    width: 100%;
    height: 45px;
    background-color: #0056b3;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    position: relative;
    z-index: 2;
}
    header.header *{
        margin: 0px;
        width: fit-content;
    }
    header.header > a{
        display: flex;
    }
    header.header > a i{
        font-size: 20px;
        padding: 0px 20px;
        cursor: pointer;
    }
    header.header .userMenu{
        position: relative;
        margin-left: auto;
        display: flex;
        align-items: center;
        height: 45px;
        cursor: pointer;
    }
    header.header .userMenu a{
        display: flex;
    }
    header.header .userMenu i{
        padding: 0px 10px;
    }

    header.header .userMenu ul.menu{
        padding: 0px;
        margin: 0px;
        list-style: none;
        position: absolute;
        top:45px;
        right: 0px;
        width: max-content;
        background-color: #eceff1;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.5);
    }
    header.header .userMenu ul.menu li{
        width: 100%;;
    }
    header.header .userMenu ul.menu li a{
        display: block;
        padding: 10px 20px;
        margin: 0px;
        width: 100%;
        box-sizing: border-box;
    }
    header.header .userMenu ul.menu li:hover a{
        background-color: #2286c3;
        text-decoration: none;
    }
    header.header .userMenu ul.menu li, header.header .userMenu ul.menu li *{
        color: #212121;
        font-size: .95em;
    }
    header.header .userMenu ul.menu li:hover, header.header .userMenu ul.menu li:hover *{
        color: #fff;
    }
    header.header .userMenu ul.menu i{
        margin-right: 5px;
        min-width: 1em;
    }

.appContent{
    width: 100%;
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: row;
}

.appContent .appMenu{
    width: 200px;
    background-color: #eceff1;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,.5);
    position: relative;
    z-index: 2;
}

    .appContent .appMenu ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .appContent .appMenu ul li a{
        position: relative;
        display: block;
        padding: 15px 30px;
        width: 100%;
        height: 100%;
    }
    .appContent .appMenu ul li a i{
        width: 30px;
    }
    .appContent .appMenu ul li a, .appContent .appMenu ul li a * {
        text-decoration: none;
        color: #212121;
        font-size: 15px;
    }

    .appContent .appMenu ul li:hover, .appContent .appMenu ul li.selected{
        background-color: #2286c3;
        color: #fff;
    }

    .appContent .appMenu ul li:hover *, .appContent .appMenu ul li.selected *{
        color: #fff;
    }

    /* MENU STTINGS */
    .appContent .appMenu ul li.menuSettings{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

.appContent .content{
    flex:1;
    height: calc(100vh - 45px);
    overflow-y: auto;
    overflow-x: auto;
    padding: 15px;
    box-sizing: border-box;
}

/* SMALL MENU */

.appContent .appMenu.smallMenu{
    width: fit-content;
}
    .appContent .appMenu.smallMenu ul li a span{
        display: none;
    }
    .appContent .appMenu.smallMenu ul li a{
        width: fit-content;
    }
    .appContent .appMenu.smallMenu ul li a i{
        text-align: center;
    }
    .appContent .appMenu.smallMenu ul li a{
        padding: 15px 15px;
    }

    /* MENU SPANDING */
    .appContent .appMenu.smallMenu.spanding ul li:hover a span{
        display: flex;
        position: absolute;
        left: 100%;
        top: 0px;
        align-items: center;
        padding: 15px;
        background: #2286c3;
        z-index: -1;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
    }
    .appContent .appMenu.smallMenu.spanding ul li.menuSettings:hover a span{
        display: none;
    }


/* BREADCRUMB */

div.breadcrumbBar{
    width: calc(100% + 30px) ;
    background-color: #eceff1;
    position: relative;
    margin: -15px -15px 0px -15px;
}
    div.breadcrumbBar ul{
        margin: 0px;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 15px;
        list-style: none;
    }

    div.breadcrumbBar ul li span{
        font-size: 15px;
    }

    div.breadcrumbBar ul li + li{
        padding-left: 8px;
    }

    div.breadcrumbBar ul li + li::before {
        display: inline-block;
        padding-right: 8px;
        content: "/";
    }

    div.breadcrumbBar ul li:last-child span{
        font-weight: 700;
        color: #0056b3;
    }

/* CLASES DE USO GENERAL */

.hide{
    display: none;
}

/* FORMULARIOS */
.formContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRow{
    display: flex;
    flex-direction: column;
}

.formButtons{
    display: inline-flex;
    margin: 15px 0;
}
    .btnForm{
        display: inline-block;
        margin: 0 10px;
        padding: 8px 15px;
        color: #fff;
        border-radius: 8px;
        border: 0px;
        background-color: #2286c3;
    }
    .btnForm.secondary{
        background-color: #546E7A;
    }
label.formControl{
    color: #212121;
}
    label.formControl.error{
        color: #F44336;
    }

input.formControl{ box-sizing: border-box;}
    input[type=text].formControl{
        border-radius: 8px;
        padding: 7px 15px;
        border: 0px;
        box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.2);
    }
    input[type=text].formControl:focus{
        outline:none;
        border-radius: 8px;
        padding: 7px 15px;
        border: 0px;
        box-shadow: inset 0px 0px 4px 0px #2286c3aa;
    }
    select.formControl{
        border-radius: 8px;
        padding: 7px 15px;
        border: 0px;
        box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.2);
    }
    select.formControl:focus{
        outline:none;
        border-radius: 8px;
        padding: 7px 15px;
        border: 0px;
        box-shadow: inset 0px 0px 4px 0px #2286c3aa;
    }
    

/* Tabla estilo material */
table.tableMaterial {
    width: 100%;
    border-collapse: collapse;
}

table.tableMaterial thead tr th{
    position: relative;
}
    table.tableMaterial thead tr th:before {
        content: "";
        display: block;
        height: 1px;
        overflow: hidden;
        background: #c6d6e1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    table.tableMaterial thead tr th:last-child:before {
        /* right: 20px; */
    }
    table.tableMaterial thead tr th:first-child:before {
        /* left: 20px; */
    }

table.tableMaterial thead tr th{
    padding: 6px 10px;
}

table.tableMaterial tbody tr td {
    padding: 6px 10px;
    text-align: center;
}


table.tableMaterial tbody tr td{
    position: relative;
}
    table.tableMaterial tbody tr:not(:last-child) td:before {
        content: "";
        display: block;
        height: 1px;
        overflow: hidden;
        background: #c6d6e1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    table.tableMaterial tbody tr:not(:last-child) td:last-child:before {
        /* right: 20px; */
    }
    table.tableMaterial tbody tr:not(:last-child) td:first-child:before {
        /* left: 20px; */
    }