/* CSS PARA PAGINA DE USUARIOS */

/* LISTADO */
div.userListContainer{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
}

div.user{
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
}

.user .userCard{
    width: 200px;
    background-color: #eceff1;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}
.user .userCard.addUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user .userCard .userImage{
    width: 100%;
    display: flex;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.user .userCard h3{
    text-align: center;
    margin: 15px 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user .userCard h5{
    text-align: center;
    font-weight: 100;
    margin: 15px 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}